<main class="main">

    <!-- <img id="triangle" src="../../assets/images/bg-triangle.svg">
     -->
     <div class="selection">
        
        <img class="user" [src]="'../../assets/images/icon-' + userSelected + '.svg'" alt="">
        <img class="computer"  [src]="'../../assets/images/icon-' + compSelected + '.svg'"alt="">
     </div>
     <div class="play-again-section"*ngIf="displaySelections">
        
    
        <div class="winlosedraw" [hidden]="!status">{{status}} </div>
        <button class="play-again" (click)="resetGame()">Play Again</button>
    
        
        </div>
    
    <div class="options">
       
        <img class="choice" id="paper" src="../../assets/images/icon-paper.svg" (click)="userPick('paper')">
        <img class="choice" id="scissors" src="../../assets/images/icon-scissors.svg" (click)="userPick('scissors')">
        <img class="choice" id="rock" src="../../assets/images/icon-rock.svg" (click)="userPick('rock')">
    </div>



    
    <!-- <div class="rules"><button (click)="goToRulesPage()" routerLink="rules">Rules</button></div> -->
    
    <div class="rules">
        <div class="test">
            
            <button type="button"  id="btn" (click)="openPopup()"> Rules</button>
        </div>
        
        
    <div class="pop" id="popup">
        <img class="close" src="../../assets/images/icon-close.svg" (click)="closePopup()">
        <h1>RULES</h1>
        <img class="img-rules"  src="../../assets/images/image-rules.svg" alt="Rules">
    </div>
</div>




    
    
    



</main>