

.main{
    position: relative;
}
.winlosedraw{
    color: #f7f7f7;
    font-size: 0px;
}



#scissors:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); /* Adjust the shadow color and spread as needed */}
    #rock:hover {
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); /* Adjust the shadow color and spread as needed */}
        #paper:hover {
            box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); /* Adjust the shadow color and spread as needed */}


#paper {
    background-color: #f7f7f7;
    transform: translate(-80%, 110%) rotate(-11deg) translateY(-80%);
border-radius: 100%;
    box-shadow: 0 0 0 30px rgba(11, 7, 241, 0.781) inset;



}

#scissors {
    background-color: #ffffff;
    transform: translate(-0%, -50%) translateY(-80%);
    margin: auto;
    box-shadow: 0 0 0 30px rgba(249, 253, 0, 0.651) inset;

}

#rock {
    background-color: #ffffff;
    transform: translate(-200%, -50%) translateY(-80%);
    box-shadow: 0 0 0 30px rgba(250, 2, 2, 0.719) inset;

}
.status {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem; /* Adjust font size as needed */
    color: white; /* Adjust color as needed */
    z-index: 9999; /* Ensure it appears above other content */
    opacity: 0; 
    transition: opacity 0.5s ease; 
}

.status.show {
    opacity: 1; /* Show the status message */
}


.choice {
    margin-top: 160px;
    position: sticky;
    left: 60%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 150px;
    cursor: pointer;
    border-radius: 200px;
    padding: 60px;
    

}


#triangle {
    position: relative;
    margin-left: 320px;
    margin-top: 100px;
}







    
/* #comp-paper {
    background-color: #f7f7f7;
border-radius: 100%;
    margin: auto;
    box-shadow: 0 0 0 30px rgba(11, 7, 241, 0.781) inset;



}

#comp-scissors {
    background-color: #ffffff;
    border-radius: 100%;
    margin: auto;
    box-shadow: 0 0 0 30px rgba(249, 253, 0, 0.651) inset;

}

#comp-rock {
    background-color: #ffffff;
    border-radius: 100%;
    margin: auto;
    box-shadow: 0 0 0 30px rgba(250, 2, 2, 0.719) inset;

} */



button {
    
    margin-left: 10px;
    background-color: rgb(2, 22, 31);
    --glow-color: rgb(130, 177, 231);
    --glow-spread-color: rgba(63, 20, 163, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(34, 16, 100);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    transition: all 0.3s;
    cursor: pointer;
}
.btn-test{
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}

button::after {
    pointer-events: none;
    content: "";
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);

}

button:hover {
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}



span {

    color: rgb(116, 117, 12);
    font-weight: bold;
    font-size: 30px;

}
.play-again-section{
    display: flex;
    justify-content: center;
    padding-bottom: 1000px;
    
}
.selection{

    display: grid;
    grid-template-rows: auto;
    justify-content: center;
    gap: 3rem;
    

}
.pop{
    color: rgb(71, 69, 69);
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top:0;
    left:50%;
    transform:translate(-50%, -50%)scale(0.1);
    
    visibility:hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform:translate(-50%, -50%)scale(1) ;

}

.close{
margin-left: 370px;
padding-top: 20px;
cursor: pointer;


}
.close:hover{ transform: scale(1.1); 
    transition: transform 0.3s ease; 
  }



.img-rules{
    margin-left: 50px;
}

